extends layout

block content
  h1= title
  p Welcome to Ram Niteesh Reddy Bandi #{title} page

  .container-fluid
    .row
      each house, idx in results 
        .col-sm-2(onclick=`buy(${idx})`)
          h3= house
          p Address: #{house.House_address}
          p Colour: #{house.House_colour}
          p Capacity: #{house.House_capacity}
          - let destination = `dispatch("/house/update?id=${house._id}")`
          - let destination1 = `dispatch("/house/details?id=${house._id}")`
          - let destination2 = `dispatch("/house/delete?id=${house._id}")`
          - let destination3 = `dispatch("/house/create?id=${house._id}")`
          div(class="row-sm-2", class="m-1") Item #{house.House_address}(#{house.House_colour}) is #{house.House_capacity}
          button.btn( class="btn-primary ml-1", onclick= destination) Update
          button.btn( class="btn-success m-1", onclick= destination1) Details
          button.btn( class="btn-danger m-1", onclick= destination2) Delete
          button.btn( class="btn-secondary m-1", onclick= destination3) create

  script.
    function buy(index) {
      alert(`You purchased item ${index}.`);
    }
    function dispatch(path){
      window.location.href = path;
    }
