extends layout

block content
  h1= title
  p Welcome to  Ram Niteesh Reddy Bandi #{title} page

  .container-fluid
  .row
    -  
    each house,idx in results 
     .col-sm-2(onclick=`buy(${idx})`)
        h3 house
        p Model: #{house.House_address}
        p Year: #{house.House_colour}
        p Color: #{house.House_capacity}

  script.
    function buy(index) {
      alert(`You purchased item ${index}.`);
    }
  